In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
## for feature slection
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [2]:
dataset=pd.read_csv('X_train.csv')

In [3]:
dataset.head()

,count,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered
0,2.772589,0.0,0.0,0.0,0.0,0.635197,0.81,0.0,0.008174,0.014673
1,3.688879,0.0,0.0,0.0,0.0,0.612955,0.80,0.0,0.021798,0.036117
2,3.465736,0.0,0.0,0.0,0.0,0.612955,0.80,0.0,0.013624,0.030474
3,2.564949,0.0,0.0,0.0,0.0,0.635197,0.75,0.0,0.008174,0.011287
4,0.000000,0.0,0.0,0.0,0.0,0.635197,0.75,0.0,0.000000,0.001129

In [4]:
## Capture the dependent feature
y_train=dataset[['count']]

In [5]:
## drop dependent feature from dataset
X_train=dataset.drop(['count'],axis=1)

In [6]:
##applying lasso regression to avoid oveerfitting and for feature selection
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=100))

In [7]:
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=100))

In [8]:
feature_sel_model.get_support()

array([ True, False,  True,  True,  True,  True, False,  True,  True])

In [10]:
# let's print the number of total and selected features

# now we can make a list of the selected features
selected_feat = X_train.columns[(feature_sel_model.get_support())]

print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))

total features: 9
selected features: 7

In [11]:
selected_feat

Index(['season', 'workingday', 'weather', 'temp', 'humidity', 'casual',
       'registered'],
      dtype='object')

In [17]:
#list of feature that are shrink
print('features with coefficients shrank to zero: {}'.format(
    np.sum(feature_sel_model.estimator_.coef_ == 0)))

features with coefficients shrank to zero: 2

In [18]:
X_train=X_train[selected_feat]

In [19]:
X_train.head()

   season  workingday  weather      temp  humidity    casual  registered
0     0.0         0.0      0.0  0.635197      0.81  0.008174    0.014673
1     0.0         0.0      0.0  0.612955      0.80  0.021798    0.036117
2     0.0         0.0      0.0  0.612955      0.80  0.013624    0.030474
3     0.0         0.0      0.0  0.635197      0.75  0.008174    0.011287
4     0.0         0.0      0.0  0.635197      0.75  0.000000    0.001129